hr{
    background-color: var(--mainHeaderscolorDark);
}
.midlle-posts > h3,
.bottom-box > h3,
.category-pageh3{
    color: var(--mainHeaderscolorDark);
}
.p-p-dark{
    color: var(--mainHeaderscolorDark);
}




body{
    background-color: black;
}