hr{
    background-color: var(--mainHeaderscolorDark);
}
.midlle-posts > h3,
.bottom-box > h3,
.category-pageh3{
    color: var(--mainHeaderscolorDark);
}
.p-p-dark{
    color: var(--mainHeaderscolorDark);
}
.post-text p{
    color: var(--mainHeaderscolorDark);
}
.post-text h5{
    color: var(--mainHeaderscolorDark);
}
.post-text code{
    background-color: rgba(255, 255, 255, 0.562);
    padding: 2px;
}



body{
    background-color: black;
}
