{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- TWITTER PREVIEW SETTINGS -->
      {% block meta_tags %}
        
      {% endblock meta_tags %}



        
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-178463432-2"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-178463432-2');
        </script>

        <script data-ad-client="ca-pub-4616331702897121" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

        <link rel="shortcut icon" href="{% static '/favicon.ico' %}" type="image/x-icon">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" id="theme-style">
        <link href="https://techcoreua.tk/" rel="canonical">
    </head>
<body>
  <header>
    <nav class="navbar navbar-expand-xl navbar-dark bg-dark custom-navbar fixed-top">
      <a class="custom-brand" href="/"><h2>techcoreua</h2></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          {% for category in categories %}
          <li class="nav-item nav-item-custom">
          <a class="nav-link nav-link-custom" href="{{category.get_absolute_url}}" title="{{category.description}}">{{category.title}}</a>
          </li>
          {% endfor %}
          
          
        </ul>

        <div class="switchbox" style="display: flex;">

          <div class="sun theme-mode" data-mode='light'>
            <i class="fas fa-lightbulb fa-lg"></i>
          </div>
  
          <div class="moon theme-mode" data-mode='dark'>
            <i class="far fa-lightbulb fa-lg"></i>
          </div>
  
        </div>

      

        <form class="form-inline mb-4 my-lg-0" method="GET" action="{% url 'core:search_results' %}">
          <input class="form-control mr-sm-2 custom-input" type="text" placeholder="Пошук" name="q">
          <button class="btn my-2 my-sm-0 custom-search-button" type="submit">Пошук</button>
        </form>

        {% if request.user.is_authenticated %}
          <div class="btn-group">
            {% if request.user.is_staff %}
                <a href="{% url 'admin:index' %}" class="nav-link"><strong>Адмінпанель</strong></a>
                <a href="/admin/filebrowser/browse/" class="nav-link"><strong>Файли</strong></a>
            {% endif %}
            <a class="nav-link" href="{% url 'account_logout' %}"><strong><i class="fas fa-sign-out-alt"></i></strong></a>
          </div>
        {% endif %}


      </div>
    </nav>
  </header>

  <main class="main">
    
    


        {% block content %}
            
        {% endblock content %}




  </main>

  <footer class="footer mt-auto">
    <div class="sitemap text-center pt-4 pb-4">
      Контакти та інформація <br>
      <!-- {% for category in categories %}
        <a class="nav-link nav-link-footer p-1" href="{{category.get_absolute_url}}">{{category.title}}</a>
      {% endfor %} -->
      <a class="nav-link nav-link-footer p-1" href="{% url 'core:contacts' %}">Контакти</a>
      <a class="nav-link nav-link-footer p-1" href="{% url 'core:about' %}">Про нас</a>
    </div>

    <div class="container text-center pt-4 pb-4">
      TechCoreUA © Всі права захищено <br>
      <a href="{% url 'core:privacy' %}" class="nav-link nav-link-footer">Політика приватності</a>
    </div>

    <div class="social text-center pt-4 pb-4">
      TechCoreUA в соцмережах <br>
      <a href="https://twitter.com/techcoreua" class="nav-link nav-link-footer" target="_blank"><i class="fab fa-twitter"></i> Twitter | @techcoreua</a>
      <a href="https://www.instagram.com/techcoreua/" class="nav-link nav-link-footer" target="_blank"><i class="fab fa-instagram"></i> Instagram | @techcoreua</a>
      <a href="https://t.me/techcoreua" class="nav-link nav-link-footer" target="_blank"><i class="fab fa-telegram"></i> Telegram | @techcoreua</a>
    </div>
  </footer>


  <script>
    var def_style_src = '{% static "css/style.css" %}'
    var dark_style_src = '{% static "css/dark.css" %}'
  </script>

  <script>
    // change yourdomain.in to your domain
    var disqus_config = function () {
      this.page.url = "{{request.build_absolute_uri}}"; 
      this.page.identifier = "{{request.build_absolute_uri}}"; 
    };
    
    // Modify End
    
    (function() { // DON'T EDIT BELOW THIS LINE
      var d = document, s = d.createElement('script');
      s.src = 'https://techcoreua.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
    })();
  </script>

  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                              
  <script>
  
  
  
  </script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/ecc04f3b39.js" crossorigin="anonymous"></script>
    <script src="{% static 'js/app.js' %}"></script>
    <!-- <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'js/infinite.min.js' %}"></script> -->

</body>
</html>
