{% extends 'base.html' %}

{% block content %}
        <div class="col-md-9">
            <div class="posts_container">
                {% for post in posts %}
                <div class="post_box">
                    <article class="card mb-4">
                        <header class="card-header">
                        <div class="card-meta">
                            <time class="timeago" timeago-id="1">{{ post.creating_date }}</time>
                        </div>
                        <a href="#">
                            <h4 class="card-title">{{ post.title }}</h4>
                        </a>
                        </header>
                        <a href="#">
                        <img class="card-img" src="{{ post.main_image.url }}" alt="">
                        </a>
                        <div class="card-body">
                        <p class="card-text">{{ post.preview_text }}</p>
                        </div>
                    </article><!-- /.card -->
                </div>
                {% endfor %}
            </div>
        </div>
    {% endblock content %}