{% extends 'base.html' %}

{% block meta_tags %}      
    <title>{{post.title}} | TechCoreUA</title>
    <meta name = "description" content = "{{post.preview_text|safe}}">


    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@techcoreua" />
    <!-- <meta name="twitter:creator" content="@nickbilton" /> -->
    <meta property="og:url" content="{{request.build_absolute_uri}}" />
    <meta property="og:title" content="{{post.title}}" />
    <meta property="og:description" content="{{post.preview_text|safe}}" />
    <meta property="og:image" content="https://{{request.get_host}}{{post.main_image.url}}" />
{% endblock meta_tags %}

{% block content %}
<div class="post-page-container col-12 mt-5 pt-5">
    <div class="post-container">
        <img src="{{post.main_image.url}}" alt="" class="img-fluid">
        <p class="autor-date-area">{{post.author.first_name}} {{post.author.last_name}} / {{post.creating_date}}</p>
        <hr>
        <div class="post-text">
            <h3 class="post-titleh3 p-p-dark">{{post.title}}</h3>
            <p class="post-preview">{{post.preview_text|safe}}</p>
            <p class="p-p-post-text">{{post.text|safe}}</p>
            <div class="tags_cloud mt-4 bg-transparent">
                {% for tag in post_tags %}
                    <a href="{{tag.get_absolute_url}}" class="btn">{{tag.title}}</a>
                {% endfor %}
            </div>
        </div>
        <div id="disqus_thread"></div>
        
    </div>
    <div class="sidebar-sticky">
        <div class="sidebar mb-5">
            
            <h3 class="category-pageh3 text-center">Хмара тегів</h3><hr>
            <div class="tags_cloud mb-3">
                {% for tag in tags %}
                    <a href="{{tag.get_absolute_url}}" class="btn">{{tag.title}}</a>
                {% endfor %}

            </div>

            <h3 class="category-pageh3 text-center">Останні мануали</h3><hr>
            <div class="sidebar-posts">

                {% for manual in manuals_posts %}
                <div class="sidebar-page-post">
                    <img class="img-fluid sidebar-page-post-img" src="{{manual.main_image.url}}" alt="" srcset="">
                    <div class="sidebar-page-post-text">
                        <a class="read_more" href="{{manual.get_absolute_url}}"><h4 class="post-titleh4">{{manual.title}}</h4></a>
                        <p class="autor-date-area">{{manual.author.first_name}} {{manual.author.last_name}} / {{manual.creating_date}}</p>
                    </div>
                </div>
                {% endfor %}
                
            </div>

            <h3 class="category-pageh3 text-center mt-3">Останні огляди</h3><hr>
            <div class="sidebar-posts">
                
                {% for review in review_posts %}
                <div class="sidebar-page-post">
                    <img class="img-fluid sidebar-page-post-img" src="{{review.main_image.url}}" alt="" srcset="">
                    <div class="sidebar-page-post-text">
                        <a class="read_more" href="{{review.get_absolute_url}}"><h4 class="post-titleh4">{{review.title}}</h4></a>
                        <p class="autor-date-area">{{review.author.first_name}} {{review.author.last_name}} / {{review.creating_date}}</p>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>

    </div>
</div>

{% endblock content %}