{% extends 'base.html' %}
{% load static %}

{% block meta_tags %}      
    <title>Дописи за тегом {{tag.title}} | Techcoreua</title>
    <meta name = "description" content = "Дописи на сайті TechCoreUA за тегом {{tag.title}}">


    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@techcoreua" />
    <!-- <meta name="twitter:creator" content="@nickbilton" /> -->
    <meta property="og:url" content="{{request.build_absolute_uri}}" />
    <meta property="og:title" content="Дописи за тегом {{tag.title}} | Techcoreua" />
    <meta property="og:description" content="Всі дописи на сайті Techcoreua за тегом {{tag.title}}" />
    <meta property="og:image" content="https://{{request.get_host}}/static/logo_big.png" />
{% endblock meta_tags %}

{% block content %}
        <div class="col-12 mt-5 pt-5 category-page-container">
            <div class="wrapper">
                <h3 class="category-pageh3 text-center">Дописи за тегом {{tag.title}}:</h3><hr>
                <div class="category-page-posts">

                    {% for post in posts %}
                        <div class="category-page-post">
                            <img class="img-fluid category-page-post-img" src="{{post.main_image.url}}" alt="" srcset="">
                            <div class="category-page-post-text">
                                <a class="read_more" href="{{post.get_absolute_url}}"><h4 class="post-titleh4">{{post.title}}</h4></a>
                                <p class="autor-date-area">{{post.author.first_name}} {{post.author.last_name}} / {{post.creating_date}}</p>
                                <p class="post-preview">{{post.preview_text}}</p>
    
                            </div>
                        </div>
                    {% endfor %}
                    
                </div>
                <div class="page-navigation mt-5 mb-5">
                    <div class="button">
                        {% if posts.has_other_pages %}
                        <ul class="pagination">
                            {% if posts.has_previous %}
                            <li><a class="btn load-more" href="?page={{ posts.previous_page_number }}">&laquo;</a></li>
                            {% else %}
                            <li class="disabled btn load-more"><span>&laquo;</span></li>
                            {% endif %}
                            {% for i in posts.paginator.page_range %}
                                {% if posts.number == i %}
                                    <li class="btn load-more text-secondary bg-light"><span>{{ i }} </span></li>
                                {% else %}
                                    <li><a class="btn load-more" href="?page={{ i }}">{{ i }}</a></li>
                                {% endif %}
                            {% endfor %}
                            {% if posts.has_next %}
                            <li><a class="btn load-more" href="?page={{ posts.next_page_number }}">&raquo;</a></li>
                            {% else %}
                            <li class="disabled btn load-more"><span>&raquo;</span></li>
                            {% endif %}
                        </ul>
                        {% endif %}
                    </div>
                </div>
    
            </div>
            <div class="sidebar-sticky">
                <div class="sidebar mb-5">
                    
                    <h3 class="category-pageh3 text-center">Хмара тегів</h3><hr>
                    <div class="tags_cloud mb-3">
                        {% for tag in tags %}
                            <a href="{{tag.get_absolute_url}}" class="btn">{{tag.title}}</a>
                        {% endfor %}
        
                    </div>
        
                    <h3 class="category-pageh3 text-center">Останні мануали</h3><hr>
                    <div class="sidebar-posts">
        
                        {% for manual in manuals_posts %}
                        <div class="sidebar-page-post">
                            <img class="img-fluid sidebar-page-post-img" src="{{manual.main_image.url}}" alt="" srcset="">
                            <div class="sidebar-page-post-text">
                                <a class="read_more" href="{{manual.get_absolute_url}}"><h4 class="post-titleh4">{{manual.title}}</h4></a>
                                <p class="autor-date-area">{{manual.author.first_name}} {{manual.author.last_name}} / {{manual.creating_date}}</p>
                            </div>
                        </div>
                        {% endfor %}
                        
                    </div>
        
                    <h3 class="category-pageh3 text-center mt-3">Останні огляди</h3><hr>
                    <div class="sidebar-posts">
                        
                        {% for review in review_posts %}
                        <div class="sidebar-page-post">
                            <img class="img-fluid sidebar-page-post-img" src="{{review.main_image.url}}" alt="" srcset="">
                            <div class="sidebar-page-post-text">
                                <a class="read_more" href="{{review.get_absolute_url}}"><h4 class="post-titleh4">{{review.title}}</h4></a>
                                <p class="autor-date-area">{{review.author.first_name}} {{review.author.last_name}} / {{review.creating_date}}</p>
                            </div>
                        </div>
                        {% endfor %}
        
                    </div>
                </div>
        
            </div>
        </div>
    {% endblock content %}