hr{
    background-color: var(--mainHeaderscolorDark);
}

.read_more-top h4,
.category-page-post-text .read_more h4{
    color: var(--mainText);
}



.midlle-posts h6,
.midlle-posts h3,
.midlle-posts p,
.bottom-box p,
.bottom-box h3,
.bottom-box h4,
.category-pageh3,
.read_more h4,
.sidebar-page-post .autor-date-area,
.no-results h4{
    color: var(--mainHeaderscolorDark);
}
.p-p-dark{
    color: var(--mainHeaderscolorDark);
}
.post-text p{
    color: var(--mainHeaderscolorDark);
}
.post-text h5{
    color: var(--mainHeaderscolorDark);
}
.post-text code{
    background-color: rgba(255, 255, 255, 0.562);
    padding: 2px;
}

.about_post,
.about_post p,
.privacy-post p,
.privacy-post,
#mail_me,
.contacts_section p,
.contacts_section{
    color: var(--mainHeaderscolorDark);
}


.load-more{
    background-color: var(--mainText);
}

.load-more-disabled{
    color: var(--mainText);
}


body{
    background-color: #212121;
}